
.banner_container {
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
}

.parallax_banner {
    height: 100vh;
}

.demo {
    height: 100vw;
    width: 100%;
}

.content {
    width: 600px;
}

.bannerBtn {
    height: 100px;
    width: 412px;
    border: 2px solid #EEE;
    margin-top: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerBtn:hover {    
    background-color: #EEE;
    cursor: pointer;
}

.bannerBtn:hover div {
    color: #333;
}

.bannerBtn:hover .MuiSvgIcon-root {
    color: #333;
}


.apple {
    height: 50px;
}