@import "../variables.scss";
@import "../mixin.scss";

.banner_container {
    height: 100vh;
    width: 100%;
}

.parallax_banner {
    height: 100vh;
}

.demo {
    height: 100vw;
    width: 100%;
}

.content {
    width: 600px;
}

.bannerBtn {
    height: 100px;
    width: 412px;
    border: 2px solid $Light_Color;
    margin-top: 50px;
    border-radius: 4px;
    @include alignCenter;
}

.bannerBtn:hover {    
    background-color: $Light_Color;
    cursor: pointer;
}

.bannerBtn:hover div {
    color: $BtnTxtHover_Color;
}

.bannerBtn:hover .MuiSvgIcon-root {
    color: $BtnTxtHover_Color;
}

.apple {
    height: 50px;
}